<ion-header>
    <ion-navbar color="custom">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Mijn Agenda
      </ion-title>
      <ion-buttons end>
        <button ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content class="bg-style" padding>
  <div *ngFor="let item of debug">
    <!-- https://github.com/urish/angular2-moment -->
    <h1>{{ item.title }}</h1>
    Date: {{ item.startTime | amFromUtc | amDateFormat: 'YYYY-MM-DD' }}<br />
    StartTime: {{ item.startTime | amFromUtc | amDateFormat: 'YYYY-MM-DD hh:mmA' }}<br />
    EndTime: {{ item.endTime | amFromUtc | amDateFormat: 'YYYY-MM-DD hh:mmA' }}
    <br /><br /><hr />
  </div>
  Debug 1: {{debug | json}} <br /><br />
  Debug 2: {{debug2 | json}}
  <button ion-button full (click)="importAgenda()">Import My Calendar</button>
</ion-content>
