<ion-header>
    <ion-navbar color="custom">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Mijn Taken
      </ion-title>
      <ion-buttons end>
        <button ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content class="bg-style" padding>
    <ion-list *ngFor="let list of itemList">
            <ion-list-header>{{list.date}}</ion-list-header>
        
            <ion-item *ngFor="let item of list.items" (click)="openTask($event, item)">
              <h2>{{item.tasktitle}}</h2>
              <p>{{item.description}}</p>
              <ion-note item-end>{{item.starttime}} - {{item.endtime}}</ion-note>
            </ion-item>
        
            <br /><br />
          </ion-list>
</ion-content>
<ion-footer no-shadow>
	<ion-toolbar position="bottom">
		<button ion-button full (click)="addTask()">Taak toevoegen</button>
	</ion-toolbar>
</ion-footer>