page-my-tasks {
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
      }

    ion-list {
        background-color: map-get($colors, background-color);
    }
}
