<ion-header>
  <ion-navbar color="custom">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Taak Afronden
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <form #registerForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <h1>{{ task.title }}</h1>
          </ion-item>
          <ion-item>
            <h3>{{ task.description }}</h3>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-item>
                <h5>Start tijd: {{ task.startTime }}</h5>
              </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                  <h5>Eind tijd: {{ task.endTime }}</h5>
                </ion-item>
              </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer no-shadow>
	<ion-toolbar position="bottom">
		<button ion-button full (click)="afronden()">Taak Afronden</button>
	</ion-toolbar>
</ion-footer>