<ion-header>
  <ion-navbar color="custom">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Taak Toevoegen
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <form (ngSubmit)="submitIdea()" #registerForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input type="text" placeholder="Titel" name="title" [(ngModel)]="addTasksForm.title" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Beschrijving" name="description" [(ngModel)]="addTasksForm.description" required></ion-textarea>
          </ion-item>
          <ion-row>
            <ion-col>
                <label>Start tijd</label>
              <ion-item>
                <ion-input type="time" placeholder="Starttijd" name="startTime" [(ngModel)]="addTasksForm.startTime"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
                <label>Eind tijd</label>
                <ion-item>
                  <ion-input type="time" placeholder="Eindtijd" name="endTime" [(ngModel)]="addTasksForm.endTime"></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>
          <ion-item>
            <ion-label>Dagen</ion-label>
            <ion-select title="days" name="days" [(ngModel)]="addTasksForm.days" multiple required>
              <ion-option *ngFor="let day of days">{{day}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Taak Toevoegen</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
